{% load widget_tweaks %}

<h1 class="mt-8 mb-4 prose prose-2xl text-white">
    Import Transaction
</h1>

<form hx-encoding="multipart/form-data" hx-post="{% url 'import' %}">
    
    <div class="mb-4">
        <input type="file" name="file" class="file-input max-w-xs file-input-primary text-black" accept=".csv">
    </div>

    <button class="btn btn-success bg-green-500 hover:bg-green-600 text-black p-4">Upload</button>
    <button class="btn btn-error bg-red-500 hover:bg-red-600 text-black p-4 ms-2" hx-get="{% url 'transactions-list' %}" hx-target="#transaction-block" hx-push-url="/transactions/">Cancel</button>
</form>