{% load widget_tweaks %}

<div class="mb-4 form-control flex flex-col">
    {{ form.type|add_label_class:"label text-white mb-2" }}
    {% render_field form.type class="input text-black" %}
</div>

<div class="mb-4 form-control flex flex-col">
    {{ form.amount|add_label_class:"label text-white mb-2" }}
    {% render_field form.amount class="input text-black" %}

    {% for error in form.amount.errors %}
        <div class="text-red-400 mt-1">{{ error }}</div>
    {% endfor %}
</div>

<div class="mb-4 form-control flex flex-col">
    {{ form.date|add_label_class:"label text-white mb-2" }}
    {% render_field form.date class="input text-black" %}
</div>

<div class="mb-4 form-control flex flex-col">
    {{ form.category|add_label_class:"label text-white mb-2" }}
    {% render_field form.category class="text-green-500 border-gray-300 rounded focus:ring-green-500" %}
</div>
