<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body>
    <h1>I am a Django server! Hello!</h1>
    <p> This is my home page. This is coming from the Django server!</p>
    <hr>
    <h3 style="color: orange;">I hope you like my Django page :)</h3>
    <p style="font-style: italic;">This is coming from an HTML template!</p>
    <a href="/sucess_page/">Go to Sucess Page</a>

    <script>
        console.log("Hello from Django HTML template!");
    </script>
</body>
</html>